<div class="design">
<div class="row">
    <div class="column">
        <div class="card" style="margin-top:335px ;">
            <img href="#" style="border-radius:20px ;" src="assets\fin.jpg" />
            <p><b>Investement</b></p>
            <p>An investment is an asset or item acquired with the goal of generating income.</p>
        </div>
    </div>
    <div class="column"><br><br>
        <h1 style="color:green ;font-size: 15mm;">Tele India</h1>
        <h3 style="color:orangered ;"><b>We're ready to share our advice and experience </b></h3>
        <h5 class="pull-down"> Everything that can be necesary to create and manage new projects (startup) in
            mordern conditions</h5>
        <div class="card">
            <img style="border-radius:20px ;" src="assets\Inv.jpg" />
            <p><b>Financial planning</b></p>
            <p>The process of taking a comprehensive look at your financial situation and building a specific financial plan to reach your goals.</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="margin-top:335px ;">
            <img style="border-radius:20px ;" src="assets\deb.jpg" />
            <p><b>Debt help</b></p>
            <p>Fansax Solutions the Best place for Debt Settlement issues.</p>
        </div>
    </div>
</div>
</div>