<div class="jumbotron text-center" style="background-color:rgb(252, 185, 61) ;">
    <b>
        <h1 style="color:green; font-family:'Pacifico', sans-serif;"><b>Customer Service </b></h1>
    </b>
</div>
<div style="text-align:center ;">
    <h3><b> Our customer service is active 24/7</b></h3>
    <h3><b>You can contact us through below datails</b></h3>
    <h3><b>Phone No:</b></h3>
    <h3>3456132325</h3>
    <h3> <b>Email us at:</b></h3>
    <h3>TeleIndia@mail.com</h3><br><br>
</div>

<marquee>
    <h4> <b><i>Thank You Visit Again! </i></b></h4>
</marquee>
