    <div class="text-center">
        <h1 >Tele India</h1>
        <h2> <br> </h2>
    </div>
    <div class="text-center">
        <img src="assets\tele.jpg" width="350" height="200" alt="" />
        &nbsp;
        <img src="assets\tele2.jpg" width="350" height="200" alt="" />
    </div>
    <h2 style="text-align:center ;"> WELCOME ! </h2>
    
      
    <div class="justfy">
        <h6><br> </h6>
        <p style = "font-family:georgia;font-size:16px;font-style:italic;">
            The Telecommunications industry is divided into following subsectors: Infrastructure, Equipment, Mobile Virtual Network Operators (MNVO), White Space Spectrum, 5G, Telephone service providers and Broadband.
        </p>
        <h6><br> </h6>
        <p style = "font-family:georgia;font-size:16px;font-style:italic;">
            Over the last seven years, the Indian Telecom Tower industry has grown significantly by 65%. The number of mobile towers increased from 400,000 in 2014 to 660,000 in 2021. Similarly, the number of Mobile Base Transceiver Stations have grown rapidly by 187% and increased from 800,000 in 2014 to 2.3 mn in 2021.
        </p>
        <h6><br> </h6>
        <p style = "font-family:georgia;font-size:16px;font-style:italic;">
            It is also estimated that 5G technology will contribute approximately $450 bn to the Indian Economy in the period of 2023-2040. Currently, the auction of IMT/5G spectrum is proposed to be held by the end of July, 2022. 
         </p>
    </div>
    
        <div class="text-center">
        
        <hr>
        <button type="button" class="btn btn-success" onclick="promptMe()">Close</button>
        <hr>
    </div>